In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('hupai.txt', delim_whitespace=True, parse_dates=['month'])
df.month = df.month.dt.to_period('M')
df.head()

    month  headcount  quota  initial  lowest  average      stop  number
0 2018-04     204980  11916    86300   86900    87089  11:29:12      69
1 2018-03     217056   9855    86300   88100    88176  11:29:56    2526
2 2018-02     220831  11098    86300   87600    87660  11:29:59     410
3 2018-01     226316  12183    86300   87900    87936  11:29:59    3045
4 2017-12     228148  12147    91700   92800    92848  11:29:58    3160

In [3]:
import pathlib
p = pathlib.Path('.')
files = list(p.glob('*-*.txt'))

frames = []
months = []
for f in files:
    df = pd.read_csv(f.name, delim_whitespace=True, header=None, names=['time', 'price'])
    frames.append(df)
    months.append(pd.Period(f.stem, 'M'))

total = pd.concat(frames, keys=months)
total.shape

(1708, 2)

In [4]:
total.reset_index(inplace=True)
total.rename(columns={'level_0':'month', 'level_1':'second'}, inplace=True)
table = pd.pivot_table(total, values='price', index=['month'], columns=['second'])
table[[x for x in range(40, 60)]]

second,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59
month,,,,,,,,,,,,,,,,,,,,
2016-01,81800,81800,81800,81800,81900,81900,81900,82000,82000,82000,82100,82100,82100,82100,82200,82200,82200,82200,82200,82200
2016-02,82200,82200,82300,82300,82400,82400,82500,82600,82600,82700,82700,82800,82900,83000,83000,83000,83100,83100,83200,83200
2016-03,82100,82100,82200,82200,82200,82300,82400,82400,82500,82500,82600,82700,82800,82800,82900,83000,83000,83000,83000,83100
2016-04,84100,84200,84200,84300,84300,84300,84300,84400,84400,84400,84500,84500,84500,84600,84600,84700,84800,84800,84900,85000
2016-05,84000,84000,84000,84000,84100,84100,84200,84300,84300,84300,84400,84400,84400,84500,84500,84600,84700,84800,84900,84900
2016-06,84000,84000,84000,84100,84100,84100,84100,84100,84100,84100,84100,84100,84100,84200,84200,84200,84300,84300,84300,84300
2016-07,86100,86100,86200,86300,86300,86300,86400,86500,86500,86600,86600,86600,86700,86800,86900,86900,87000,87100,87100,87200
2016-08,85700,85800,85800,85900,86000,86000,86100,86200,86200,86200,86300,86300,86300,86300,86400,86400,86500,86600,86700,86800
2016-09,85400,85400,85400,85400,85500,85600,85700,85700,85900,85900,85900,85900,86000,86000,86000,86000,86100,86200,86200,86300
2016-10,87500,87500,87500,87600,87700,87700,87900,87900,88000,88000,88000,88000,88000,88000,88000,88100,88100,88100,88100,88200
2016-11,87700,87700,87700,87700,87700,87700,87700,87700,87800,87800,88000,88000,88100,88100,88200,88300,88400,88500,88500,88600
2016-12,87400,87400,87400,87400,87500,87600,87700,87700,87800,87800,87900,87900,87900,87900,88000,88000,88000,88100,88100,88200
2017-01,86600,86600,86700,86800,86900,86900,86900,87000,87000,87000,87100,87100,87100,87100,87100,87200,87200,87300,87400,87500
2017-02,87000,87100,87200,87200,87200,87300,87400,87400,87500,87500,87500,87600,87600,87700,87800,87900,88000,88100,88100,88200
2017-03,86900,86900,86900,86900,86900,86900,86900,86900,86900,87000,87100,87200,87200,87300,87400,87500,87600,87700,87700,87800
2017-04,88800,88800,88900,88900,89000,89100,89100,89100,89200,89200,89200,89200,89200,89300,89300,89400,89400,89500,89500,89600
2017-05,89100,89100,89100,89100,89200,89200,89300,89300,89400,89400,89500,89500,89600,89600,89700,89800,89900,90000,90100,90100
2017-06,88800,88900,88900,89000,89000,89100,89100,89100,89100,89100,89100,89100,89100,89200,89200,89200,89200,89300,89300,89300
2017-07,91000,91000,91000,91000,91100,91100,91200,91300,91400,91400,91500,91600,91700,91800,91900,92000,92100,92100,92100,92200
2017-08,90700,90700,90700,90700,90800,90800,90800,90900,91000,91100,91100,91100,91100,91100,91200,91200,91200,91300,91300,91400
2017-09,90400,90400,90400,90400,90400,90400,90500,90500,90700,90700,90700,90700,90700,90800,90800,90800,90900,91000,91000,91200
2017-10,92400,92500,92600,92600,92600,92600,92600,92600,92600,92700,92700,92800,92800,92900,92900,93000,93100,93200,93300,93400
2017-11,92300,92300,92300,92300,92300,92300,92300,92400,92500,92600,92600,92600,92600,92600,92600,92700,92700,92800,92800,92900
2017-12,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92300,92400,92500,92600,92600
2018-01,86900,86900,86900,86900,86900,86900,86900,86900,87000,87100,87200,87200,87200,87200,87300,87400,87500,87600,87700,87800
2018-02,86900,86900,86900,86900,86900,86900,87000,87100,87200,87200,87200,87200,87200,87200,87200,87200,87300,87300,87400,87400
2018-03,86900,86900,87000,87100,87200,87200,87200,87200,87200,87200,87200,87300,87400,87500,87700,87800,88000,88000,88000,88100
2018-04,86800,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900,86900

In [5]:
total.dtypes

month     object
second     int64
time      object
price      int64
dtype: object

In [6]:
for i in range(0, 60):
    table[i] = table[60] - table[i]
table[[x for x in range(30, 50)]]

second,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
month,,,,,,,,,,,,,,,,,,,,
2016-01,400,400,400,400,400,400,400,400,400,400,400,400,400,400,300,300,300,200,200,200
2016-02,1400,1300,1300,1200,1200,1100,1100,1100,1100,1100,1000,1000,900,900,800,800,700,600,600,500
2016-03,1300,1200,1200,1100,1100,1000,1000,1000,1000,1000,1000,1000,900,900,900,800,700,700,600,600
2016-04,1100,1100,1100,1100,1100,1100,1100,1100,1100,1000,1000,900,900,800,800,800,800,700,700,700
2016-05,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,900,900,800,700,700,700
2016-06,600,600,600,600,500,500,400,400,400,400,400,400,400,300,300,300,300,300,300,300
2016-07,1500,1500,1400,1400,1400,1300,1300,1200,1200,1200,1100,1100,1000,900,900,900,800,700,700,600
2016-08,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1100,1100,1000,900,900,800,700,700,700
2016-09,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1000,900,800,800,600,600
2016-10,900,900,900,900,900,800,800,800,800,800,800,800,800,700,600,600,400,400,300,300
2016-11,1100,1100,1100,1100,1100,1000,1000,1000,1000,900,900,900,900,900,900,900,900,900,800,800
2016-12,900,900,900,900,900,900,900,900,900,900,900,900,900,900,800,700,600,600,500,500
2017-01,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,900,800,700,700,700,600,600,600
2017-02,1300,1300,1300,1300,1300,1300,1300,1300,1200,1200,1200,1100,1000,1000,1000,900,800,800,700,700
2017-03,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,800
2017-04,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,900,900,800,700,700,700,600,600
2017-05,1300,1300,1300,1300,1200,1200,1200,1100,1000,1000,1000,1000,1000,1000,900,900,800,800,700,700
2017-06,600,600,600,600,600,600,600,600,600,600,600,500,500,400,400,300,300,300,300,300
2017-07,1500,1500,1500,1500,1500,1400,1400,1300,1200,1200,1200,1200,1200,1200,1100,1100,1000,900,800,800
2017-08,1100,1100,1100,1100,1100,1100,1000,1000,1000,900,900,900,900,900,800,800,800,700,600,500
2017-09,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,900,800,800,600,600
2017-10,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1100,1000,900,900,900,900,900,900,900,800
2017-11,800,800,800,800,800,800,800,800,800,800,800,800,800,800,800,800,800,700,600,500
2017-12,600,600,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500
2018-01,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,900,800
2018-02,700,700,700,700,700,700,700,700,700,700,700,700,700,700,700,700,600,500,400,400
2018-03,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1100,1000,900,900,900,900,900,900
2018-04,300,300,300,300,300,300,300,200,200,100,100,0,0,0,0,0,0,0,0,0

In [7]:
arr = []
for i in range(0, 60):
    arr.append(table[i].value_counts())
    
ret = pd.concat(arr, axis=1)
ret.fillna(0, inplace=True)
for i in range(0, 60):
    ret[i]=ret[i].astype('int')

ret[[x for x in range(30,51)]]

,30,31,32,33,34,35,36,37,38,39,...,41,42,43,44,45,46,47,48,49,50
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
100,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
200,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,1,1,1,0
300,1,1,1,1,1,1,1,0,0,0,...,0,0,1,2,3,3,2,3,3,3
400,1,1,1,1,1,1,2,2,2,2,...,2,2,2,1,0,1,1,1,1,2
500,0,0,1,1,2,2,1,1,1,1,...,2,2,1,1,1,1,2,2,5,6
600,3,3,2,2,1,1,1,1,1,1,...,0,0,0,1,1,2,3,8,6,9
700,1,1,1,1,1,1,1,1,1,1,...,1,1,2,2,4,4,8,6,5,4
800,1,1,1,1,1,2,2,2,2,2,...,2,2,3,6,5,10,4,2,5,1
900,4,4,4,4,4,3,3,3,3,5,...,6,11,10,10,11,4,5,4,1,1
1000,4,4,4,4,4,6,7,7,8,7,...,8,5,6,3,1,2,1,0,0,0
1100,4,4,4,5,5,4,3,4,3,2,...,4,3,1,1,1,0,0,0,0,0
1200,3,4,4,4,5,4,4,4,6,6,...,2,1,1,0,0,0,0,0,0,0
1300,3,3,3,2,1,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1400,1,0,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1500,2,2,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1600,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1700,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1800,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0